<!DOCTYPE html>
<html lang="en">

    <head>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
            integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
            crossorigin="anonymous"></script>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>/posts</title>

        <link rel="stylesheet" href="/style.css">
        <script src="/script.js"></script>
    </head>


    <body>



        <div class="container">

            <div class="header">
                <h1>/posts</h1>

                <div class="icons">

                    <a href="/posts/new">
                        <svg width="52" height="51" viewBox="0 0 52 51" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <g id="Outline/Interface/Add">
                                <g id="Icon">
                                    <path
                                        d="M15.3907 25.5C15.3907 24.6198 16.1042 23.9062 16.9844 23.9062H24.4062V16.4844C24.4062 15.6042 25.1198 14.8906 26 14.8906C26.8802 14.8906 27.5937 15.6042 27.5937 16.4844V23.9062H35.0156C35.8958 23.9062 36.6094 24.6198 36.6094 25.5C36.6094 26.3802 35.8958 27.0937 35.0156 27.0937H27.5937V34.5156C27.5937 35.3958 26.8802 36.1093 26 36.1093C25.1198 36.1093 24.4062 35.3958 24.4062 34.5156V27.0937H16.9844C16.1042 27.0937 15.3907 26.3802 15.3907 25.5Z"
                                        fill="#051D2C" />
                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                        d="M16.048 8.00859C22.6091 7.27529 29.3908 7.27529 35.9518 8.00859C39.8329 8.44235 42.9671 11.4995 43.4236 15.403C44.2082 22.1115 44.2082 28.8885 43.4236 35.597C42.9671 39.5005 39.8329 42.5576 35.9518 42.9914C29.3908 43.7247 22.6091 43.7247 16.048 42.9914C12.167 42.5576 9.03281 39.5005 8.57625 35.597C7.79164 28.8885 7.79164 22.1115 8.57625 15.403C9.03281 11.4995 12.167 8.44235 16.048 8.00859ZM35.5978 11.1764C29.272 10.4694 22.7278 10.4694 16.4021 11.1764C13.9702 11.4482 12.0235 13.3676 11.7422 15.7733C10.9863 22.2357 10.9863 28.7642 11.7422 35.2267C12.0235 37.6324 13.9702 39.5518 16.4021 39.8236C22.7278 40.5306 29.272 40.5306 35.5978 39.8236C38.0297 39.5518 39.9763 37.6324 40.2577 35.2267C41.0135 28.7642 41.0135 22.2357 40.2577 15.7733C39.9763 13.3676 38.0297 11.4482 35.5978 11.1764Z"
                                        fill="#051D2C" />
                                </g>
                            </g>
                        </svg>
                    </a>




                </div>
            </div>